body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  }
  
  .container{
    .hero{
      background-color: #f2f4f7;
      .main{
        padding-top: 100px;
        padding-bottom: 200px;
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
          .logo {
            width: 100%;
            img{
            width: 50%;
            }
          }
          h2{
            font-weight: 400;
            margin-left: 30px;
            width: 60%;
          }
          width: 60%;
        }
        .right{
          width: 40%;
          .table{
            background-color: #ffffff;
            width: 80%;
            margin: auto;
            padding: 15px;
            border-radius: 10px;
            padding-bottom: 20px;
            -webkit-box-shadow: 10px 6px 20px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 6px 20px -4px rgba(0,0,0,0.75);
            box-shadow: 10px 6px 20px -4px rgba(0,0,0,0.75);
          }
          input{
            width: 90%;
            padding: 10px;
            margin-top: 7px;
            border: 1px solid lightgray ;
          }
          .signIn{
            background-color: #0866ff;
            color: #ffffff;
            font-weight: 500;
            font-size: large;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
          }
          small{
            color: #0866ff;
            font-weight: 500;
            margin-left: 110px;
          }
          .border{
            border:1px solid lightgray;
            margin-top: 30px;
          }
          .signUp{
            background-color: #42b72a;
            color: #ffffff;
            font-weight: 500;
            font-size: large;
            text-align: center;
            border-radius: 10px;
            padding: 10px;
            width: 70%;
            margin: auto;
            margin-top: 30px;
          }
          .info{
            text-align: center;
            font-size: small;
            padding-top: 10px;
          }
        }
      }
    }
  
  
    .footer{
      width: 60%;
      margin: auto;
      margin-top: 50px;
      .first{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 75%;
      }
      small{
        color: #73737373;
      }
      .border{
        border:1px solid lightgray;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .second{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 10px;
      }
    }
  }
